@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

* {
   margin: 0;
   font-family: 'Source Sans Pro', sans-serif;
}

html, body {
   height: 100%;
}

body {
   font-size: 90%;
   line-height: 18px;
}

a {
   text-decoration: none;
   color: #E8573F;
}

a:hover {
   text-decoration: underline;
}

.txt-center {
   text-align: center;
}

.center {
   margin: 0 auto;
   display: block;
}

.text-content {
   width: 500px;
   margin: 0 auto;
}

.important-news {
   text-align: center;
   background-color: #E8573F;
   color: #eee;
   padding: 10px;
   margin: 20px;
   border: none;
   box-shadow: 9px 9px 0px  #CCC;
   font-size: 150%;

}

.important-news a {
   color: #fff;
   text-decoration: underline;
}

#content {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -36px;
   width: 650px;
   background-color: #f2f2f2;
}

#footer, #footer-help{
   min-height: 30px;
   width: 650px;
   margin: 0 auto;
   text-align: center;
}

#logo {
   background-image: url(../assets/img/kcpr_final_logo_horiz_color_nobg.svg);
   background-repeat: no-repeat;
   background-position: center;
   
   height: 110px;
   width: 650px;
   margin: 0 auto;
}

#audio-wrapper {
   background-color: #888;
}

playbutton {
   cursor: pointer;
   padding: 3px 15px;
   text-transform: uppercase;
   letter-spacing: 1px;
   color:#fff;
   font-size: 110%;
   width:110px;
   background:#00928f;
   border:none;
   position: relative;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: 0px 5px 0px #00625f;
   -moz-box-shadow: 0px 5px 0px #00625f;
   box-shadow: 0px 5px 0px #00625f;
}

playbutton.on {
   padding-right:10px;
   -webkit-box-shadow: 0px 2px 0px #00625f;
   -moz-box-shadow: 0px 2px 0px #00625f;
   box-shadow: 0px 2px 0px #00625f;
   top: 3px;
}

playbutton:active {
    -webkit-box-shadow: 0px 2px 0px #00625f;
    -moz-box-shadow: 0px 2px 0px #00625f; 
    box-shadow: 0px 2px 0px  #00625f;
    position: relative;
    top: 3px;
}

#header-wrapper, #footer  {
   background-color: #888;
   text-align: center;
}

#middlebar {
   margin: 15px 100px 20px;
}

loc {
   text-align: left;
   font-size:16pt;
   color: white;
   letter-spacing: 2px;
   float: right;
   
   margin:3px 0px 5px;
}

#header {
   padding-bottom: 3px;
}

#footer {
   padding: 3px 0px;
}

#header a, #footer a {
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 2px;
   color: #fff;
   line-height: 30px;
   padding: 4px 8px;
   margin: 0 5px;
   border-radius: 5px;
}

#header a:hover, #footer a:hover {
   background-color: #777;
}

#header a.active, #footer a.active {
   background-color: #777;
}

ul#contacts {
   list-style: none;
   padding: 0;
}

ul#contacts li {
   margin: 20px 0;
}

ul#contacts li p {
   margin: 0;
}

table {
   margin-bottom: 30px;
   width: 100%
}

th {
   text-transform: uppercase;
   width: 13%;
}

th.time {
   width: 9%;
}

table * {
   text-align: center;
}

table.legend td {
   width: 25%;
}

tr {
   height: 50px;
}

td, th {
   background-color: #ddd;
}

td.otto {
   background-color: #888;
   color: white;
}

td.talk {
   background-color: #38d;
   color: white;
}

td.spec {
   background-color: #E8573F;
   color: white;
}

td.reg {
   background-color: #00928F;
   color: white;
}

div#view {
   padding: 10px;
}

div#view p {
   margin: 10px 0;
}

div#view h3 {
   margin: 20px 0;
}

.pledge-centered {
   display: block;
   margin: 10px auto;
}

table.pledge td {
   padding: 5px;

}

/*
a.glow {
   -webkit-animation: glow 5s ease-in-out 0s infinite alternate;
}
   */

@-webkit-keyframes glow {
   from { background-color: auto; box-shadow: 0px 0px 5px rgba(0,0,0,0); } to { background-color: #666; box-shadow: 0px 0px 100px #DFBA39; }
}
