@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

* {
   margin: 0;
   font-family: 'Source Sans Pro', sans-serif;
}

html, body {
   height: 100%;
}

body {
   font-size: 90%;
   line-height: 18px;
}

a {
   text-decoration: none;
   color: #E8573F;
}

a:hover {
   text-decoration: underline;
}

.center {
   margin: 0 auto;
   display: block;
}

.text-content {
   width: 500px;
   margin: 0 auto;
}

#content {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -30px;
   width: 650px;
   background-color: #f2f2f2;
}

#footer, #footer-help{
   min-height: 30px;
   width: 650px;
   margin: 0 auto;
   text-align: center;
}

#logo {
   background-image: url('/assets/img/kcpr_final_logo_horiz_color_nobg.svg');
   background-repeat: no-repeat;
   background-position: center;
   
   height: 110px;
   width: 650px;
   margin: 0 auto;
}

#audio-wrapper {

   background-color: #666;
   padding: 10px 0px;

}

#header-wrapper, #footer  {
   background-color: #666;
   text-align: center;
}

#header-wrapper h2 {
   margin: 10px 0;
   text-align: center;
   color: white;
}

#header-wrapper a {
   margin: 0 15px;
}

#footer a {
   margin: 0 10px;
}

#header a, #footer a {
   text-decoration: none;
   text-transform: lowercase;
   color: #fff;
   line-height: 30px;
}

#header a.active, #footer a.active {
   color: #E8573F;
}

#header a:hover, #footer a:hover {
   text-decoration: underline;
}

ul#contacts {
   list-style: none;
   padding: 0;
}

ul#contacts li {
   margin: 20px 0;
}

ul#contacts li p {
   margin: 0;
}

table {
   margin-bottom: 30px;
   width: 100%
}

th {
   width: 13%;
}

th.time {
   width: 9%;
}

table * {
   text-align: center;
}

table.legend td {
   line-height: 40px;
   width: 25%;
}

td, th {
   background-color: #ddd;
}

td.otto {
   background-color: #666;
   color: white;
}

td.talk {
   background-color: #38d;
   color: white;
}

td.spec {
   background-color: #E8573F;
   color: white;
}

td.reg {
   background-color: #00928F;
   color: white;
}

div#view {
   padding: 10px;
}

div#view p {
   margin: 10px 0;
}

div#view h3 {
   margin: 20px 0;
}
