<h1>about</h1>
<br/>

<h3>Who we are</h3>
<p>KCPR is a stereo FM radio station broadcasting throughout the Central Coast of California on 91.3 MHz. It is the college station of Cal Poly, in San Luis Obispo.</p>

<p>The station is run by volunteer college students and community members. We all do it from our love of music, our community, and the radio.</p>

<p>We have been broadcasting since 1968.</p>

<h3>What we do</h3>
<p>We play mostly music, and have some talk and news shows. There are themed shows that are genre or theme specific, and more general "regular shows" that cover new and old music added to the station. We write and produce announcements, We broadcast 24/7 online and on air.</p>

<h3>What you can do</h3>
<p>Listen, we'd like that.</p>

<p>We are a volunteer station at a public college, providing ad free radio to the Central Coast. In other words, we need your support to keep doing it! We'd appreciate it if you write us a nice letter or check. Or donate online!</p>

<p>Of course, you can also join our station! We are thrilled to have and train budding DJS. We allow community members and students, and you have nothing to lose! Check the "join" tab for info.</p>
