<img class="center" src="assets/img/banner.gif">
<br/>
<div class="text-content">
   <p>KCPR is a stereo FM radio station broadcasting throughout the Central Coast of California on 91.3 MHz. It is the college station of Cal Poly in San Luis Obispo.</p>

   <p>KCPR is a non-profit student-run radio station providing its listeners with entertaining and informative alternative programming. Programs on KCPR embrace diversity on the airwaves.</p>

   <h4>History</h4>
   <p>The initial KCPR broadcast occured in fall of 1968 and the first words were, "Is <em>this</em> the damn switch?" (according to Brad Brown)</p>

   <h4>Music</h4>
   <p>Each week our music director sifts through numerous albums that have been sent by labels and individual artists. In any given week, the MD might listen to as many as 200 albums. Of this, only around 20 albums are added per week. How does the MD complete the daunting task of deciding what is and isn't KCPR material? They apply some music philosophy and some old fashioned Ouija board fun.</p>

   <p>Our goal at KCPR is to provide our listeners with great music that typically would not be found on other radio stations. We offer a diverse mix of artists that gives our listeners a chance to hear any type of music. We add certain albums to the station because there is something about it that really enhances the already eclectic variety of our programming.</p>
</div>
