<div class="text-content">

   <br/>
   <h2 class="txt-center">Call the on-air DJ right now at (805) 756-5277!</h2>

   <br/>
   <hr>
   <p>These are the KCPR executives for the academic year 2014-2015. Feel free to email them with a question, but you will get the best response if your concern is in their domain.</p>

   <ul id="contacts">
      <li ng-repeat="p in people">
         <b>{{ p.title }}</b> -- {{ p.name }}
         <br/>
         <p><a href="mailto:{{p.email }}">{{ p.email }}</a></p>
         <p>{{ p.description }}</p>
      </li>
      <li>
         <b>Webmaster</b> -- Eli Backer
         <br/>
         <p><a href="mailto:kcpr.webmaster@gmail.com">kcpr.webmaster@gmail.com</a></p>
         <p>Our Webmaster maintains our online presence. If you have something you would like to see on our website or a question about this website, please <a href="https://docs.google.com/forms/d/1d4cv-ZCDUygcc92dTQldNRb8uMSFXUogf77r_yDeFo4/viewform?usp=send_form">file a ticket</a>.</p>
      </li>
   </ul>

   <br/>
   <h4>You can write us at:</h4>
   <br/>
   <address>
      (DJ or executive title)<br/>
      <b>KCPR</b>
      <br/>Building 26, Room 301<br/>
      California Polytechnic State University <br/>
      1 Grand Avenue <br/>
      San Luis Obispo, CA 93407
   </address>
   <p>We love fanmail!</p>
</div>
