<div class="text-content">

   <br/>
   <h2 class="txt-center">Call the on-air DJ right now at (805) 756-5277!</h2>

   <br/>
   <hr>
   <p>These are the KCPR executives for the academic year 2013-2014. Feel free to email them with a question, but you will get the best response if your concern is in their domain.</p>

   <ul id="contacts">
      <li ng-repeat="p in people">
         <b>{{ p.title }}</b> -- {{ p.name }}
         <br/>
         <p><a href="mailto:{{p.email }}">{{ p.email }}</a></p>
         <p>{{ p.description }}</p>
      </li>
   </ul>

   <br/>
   <h4>You can write us at:</h4>
   <br/>
   <address>
      (DJ or executive title)<br/>
      <b>KCPR</b>
      <br/>Building 26, Room 301<br/>
      California Polytechnic State University <br/>
      1 Grand Avenue <br/>
      San Luis Obispo, CA 93407
   </address>
   <p>We luv fanmail!</p>
</div>
