<h1>contact</h1>
<br/>

<ul>
   <li>
      <h3>General Managers</h3>
      <em>Tyler Deitz and Jorge Gonzalez</em>
      <p>god who knows what</p>
      <p>generalmanagers.kcpr@gmail.com</p>
   </li>
   <li>
      <h3>Music Directors</h3>
      <em>Nick Cocores and Bobak Behesti</em>
      <p>god who knows what</p>
      <p>kcpr@calpoly.edu</p>
   </li>
   <li>
      <h3>Business Directors</h3>
      <em>Roxanne Hoffman and Joe Durantini</em>
      <p>god who knows what</p>
      <p>913kcprbusiness@gmail.com</p>
   </li>
   <li>
      <h3>Promotion Directors</h3>
      <em>Haley Brown, Bethany Benson, and Biba Pickles</em>
      <p>god who knows what</p>
      <p>kcprpromotion@gmail.com</p>
   </li>
   <li>
      <h3>Program Directors</h3>
      <em>Kelly Stewart</em>
      <p>god who knows what</p>
      <p>programdirector.kcpr@gmail.com</p>
   </li>
   <li>
      <h3>Events Directors</h3>
      <em>Parker Glenn and Matt Osterholt</em>
      <p>god who knows what</p>
      <p>events.kcpr@gmail.com</p>
   </li>
   <li>
      <h3>Traffic Directors</h3>
      <em>Connor Griffith</em>
      <p>god who knows what</p>
      <p>traffic.kcpr@gmail.com</p>
   </li>
   <li>
      <h3>Air Staff Instructors</h3>
      <em>Logan Cooper and Lauren Vukicevich</em>
      <p>god who knows what</p>
      <p>kcpr91.3asi@gmail.com</p>
   </li>
   <li>
      <h3>Webmaster</h3>
      <em>Eric Buckthal</em>
      <p>god who knows what</p>
      <p>kcpr.internet@gmail.com</p>
   </li>
   <li>
      <h3>Faculty Advisor</h3>
      <em>Richard Gearhart</em>
      <p>god who knows what</p>
   </li>
</ul>
