<div class="text-content">
<!-- Rocky Horror Content-->
   <p style="text-align: center;">
      <strong>ROCKY HORROR PICTURE SHOW</strong>
   </p>
   <p style="text-align: center;">
      9:15PM on Thursday, May 28th<br>
      Palm Theatre
   </p>

   <a href="assets/img/rocky_horror-instagram.jpg" target="_blank"><img alt="" src="assets/img/rocky_horror-instagram.jpg" style="max-width:400px; padding: 0px 50px;"></a>

   <p>
      Do the time warp with your favorite college radio station on Thursday, May 28th, 9:15 PM at the Palm Theatre! By pledging your donation early you can reserve your spot for the show and pick up a Rocky Horror Party Kit including all the supplies necessary to participate in this interactive show! Donate now for your reservation!
   </p>
   <p>
      Time: 9:15 PM, Thursday May 28th<br>
      Location: Palm Theatre 817 Palm St, San Luis Obispo<br>
      Donation: $10
   </p>
   <p style="text-align: center;">
      Make your reservation and receive your party pack now!
   </p>

<!-- Rocky Horror Content-->
   <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
   <input type="hidden" name="cmd" value="_xclick">
   <input type="hidden" name="business" value="tbourne@calpoly.edu">
   <input type="hidden" name="lc" value="US">
   <input type="hidden" name="item_name" value="Rocky Horror Party Kit">
   <input type="hidden" name="amount" value="10.00">
   <input type="hidden" name="currency_code" value="USD">
   <input type="hidden" name="button_subtype" value="products">
   <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
   <input class="pledge-centered" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
   <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
   </form>


<!-- Shirt Content -->
   <a href="assets/img/top-your-taco.jpg" target="_blank"><img alt="" src="assets/img/top-your-taco.jpg" style="max-width:150px; padding: 30px 0px 15px"></a>
   <a href="assets/img/white-box.jpg" target="_blank"><img alt="" src="assets/img/white-box.jpg" style="max-width:150px; padding: 30px 15px 15px"></a>
   <a href="assets/img/yellow-box.jpg" target="_blank"><img alt="" src="assets/img/yellow-box.jpg" style="max-width:150px; padding: 30px 0px 15px"></a>
   <!-- Future Employer, if you're reading this:  I am so sorry for the inline styles.  So incredibly sorry. -->

   <p>
      KCPR shirts are shipped free-of-charge anywhere in the USA and printed on high-quality, super soft 100% cotton tees. Pick out your shirt and size below!
   </p>


<!-- Shirt Donations -->
   <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
   <input type="hidden" name="cmd" value="_cart">
   <input type="hidden" name="business" value="tbourne@calpoly.edu">
   <input type="hidden" name="lc" value="US">
   <input type="hidden" name="item_name" value="Donation To KCPR">
   <input type="hidden" name="button_subtype" value="products">
   <input type="hidden" name="no_note" value="0">
   <input type="hidden" name="currency_code" value="USD">
   <input type="hidden" name="add" value="1">
   <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
   <input type="hidden" name="on0" value="Donation">
   <select class="pledge-centered" name="os0">
      <option value="Top Your Taco Shirt - S">We Top Your Taco - Small</option>
      <option value="Top Your Taco Shirt - M">We Top Your Taco - Medium</option>
      <option value="Top Your Taco Shirt - L">We Top Your Taco - Large</option>
      <option value="Top Your Taco Shirt - XL">We Top Your Taco - Extra Large</option>

      <option value="White Logo Shirt - S">White Logo - Small</option>
      <option value="White Logo Shirt - M">White Logo - Medium</option>
      <option value="White Logo Shirt - L">White Logo - Large</option>
      <option value="White Logo Shirt - XL">White Logo - Extra Large</option>


      <option value="Yellow Logo Shirt - S">Yellow Logo - Small</option>
      <option value="Yellow Logo Shirt - M">Yellow Logo - Medium</option>
      <option value="Yellow Logo Shirt - L">Yellow Logo - Large</option>
      <option value="Yellow Logo Shirt - XL">Yellow Logo - Extra Large</option>
   </select>
   <input type="hidden" name="currency_code" value="USD">

   <input type="hidden" name="option_select0" value="Top Your Taco Shirt - S">
   <input type="hidden" name="option_amount0" value="25.00">
   <input type="hidden" name="option_select1" value="Top Your Taco Shirt - M">
   <input type="hidden" name="option_amount1" value="25.00">
   <input type="hidden" name="option_select2" value="Top Your Taco Shirt - L">
   <input type="hidden" name="option_amount2" value="25.00">
   <input type="hidden" name="option_select3" value="Top Your Taco Shirt - XL">
   <input type="hidden" name="option_amount3" value="25.00">

   <input type="hidden" name="option_select4" value="White Logo Shirt - S">
   <input type="hidden" name="option_amount4" value="25.00">
   <input type="hidden" name="option_select5" value="White Logo Shirt - M">
   <input type="hidden" name="option_amount5" value="25.00">
   <input type="hidden" name="option_select6" value="White Logo Shirt - L">
   <input type="hidden" name="option_amount6" value="25.00">
   <input type="hidden" name="option_select7" value="White Logo Shirt - XL">
   <input type="hidden" name="option_amount7" value="25.00">

   <input type="hidden" name="option_select8" value="Yellow Logo Shirt - S">
   <input type="hidden" name="option_amount8" value="25.00">
   <input type="hidden" name="option_select9" value="Yellow Logo Shirt - M">
   <input type="hidden" name="option_amount9" value="25.00">
   <input type="hidden" name="option_select10" value="Yellow Logo Shirt - L">
   <input type="hidden" name="option_amount10" value="25.00">
   <input type="hidden" name="option_select11" value="Yellow Logo Shirt - XL">
   <input type="hidden" name="option_amount11" value="25.00">

   <input type="hidden" name="option_index" value="0"j>
   <input class="pledge-centered" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
   <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
   </form>

<!-- More Love -->
   <h4 style="text-align:center">
      If you want to send us even more love...
   </h4>

   <div class="text-content">
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
         <input type="hidden" name="cmd" value="_cart">
         <input type="hidden" name="business" value="tbourne@calpoly.edu">
         <input type="hidden" name="lc" value="US">
         <input type="hidden" name="item_name" value="Donation To KCPR">
         <input type="hidden" name="button_subtype" value="products">
         <input type="hidden" name="no_note" value="0">
         <input type="hidden" name="currency_code" value="USD">
         <input type="hidden" name="add" value="1">
         <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
         <input type="hidden" name="on0" value="Donation">
         <select class="pledge-centered" name="os0">
            <option value="More Love: 50.00USD">More Love: 50.00USD</option>
            <option value="More Love: 100.00USD">More Love: 100.00USD</option>
            <option value="More Love: 200.00USD">More Love: 200.00USD</option>
            <option value="More Love: 500.00USD">More Love: 500.00USD</option>
            <option value="More Love: 1000.00USD">More Love: 1000.00USD</option>
         </select>
         <input type="hidden" name="currency_code" value="USD">

         <input type="hidden" name="option_select0" value="More Love: 50.00USD">
         <input type="hidden" name="option_amount0" value="50.00">
         <input type="hidden" name="option_select1" value="More Love: 100.00USD">
         <input type="hidden" name="option_amount1" value="100.00">
         <input type="hidden" name="option_select2" value="More Love: 200.00USD">
         <input type="hidden" name="option_amount2" value="200.00">
         <input type="hidden" name="option_select3" value="More Love: 500.00USD">
         <input type="hidden" name="option_amount3" value="500.00">
         <input type="hidden" name="option_select4" value="More Love: 1000.00USD">
         <input type="hidden" name="option_amount4" value="1000.00">

         <input type="hidden" name="option_index" value="0"j>
         <input class="pledge-centered" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
         <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

 <!-- Thanks -->
   <br>
   <h4>
      Thank you to our supporters:
   </h4>
   <p>
      University Police Department, Inside Out SLO, Splash Cafe, and House of Bread
   </p>
   <p>
      Jane-Leslie Newberry, Samantha Snow, Charles DeCraene, Morgan Hamilton, Gila Zak, Bruce Gordon, Shohreh Dupuis, Addison Grant, Sarah Knox, Jeff Gilchrist, Christopher Muckley, Jon Jaeger, Elizabeth Aloe, Ellen Totleben, Kevin Haughton, Rick Masterson, Jeff Tollefson, Laura Fraser, Kristy Johnson, Earl Ruby, Bob and Jane Aloe, Matthew Heisler, Michelle Kaye, John Durantini, Leonard Filomeo, and John Furtado
   </p>

</div>
