<p><b>before you apply</b></p>
<p>Listen to KCPR! Get a feel for what you like about KCPR and how KCPR gets you groovin'.</p>

<p><b>fill out the application</b></p>
<ul>
   <li><a target="_blank" href="http://kcpr.org/docs/KCPRapplication.PDF">Download the application here.</a></li>
   <li>or, there are usually applications outside the kcpr station.</li>
</ul>

<p>Exciting applications are more fun than boring ones! Make your application stand out by pumping it full of your personality</p>

<p><b>turn in the application</b></p>
<p>Turn in the application during or before the 3rd week fo the Cal Poly quarter. Check the Cal Poly academic schedule <a href="http://registrar.calpoly.edu/">here.</a>
