<div class="text-content">
   <p>KCPR is completely volunteer run and accepts new DJs every academic quarter! Radio could be right for you, consult your doctor.</p>

   <h4>Before You Apply</h4>
   <p>Listen to KCPR! Nothing warms our heart more than to know that you've put your time listening to some of our mindless ramblings. Get a feel for what you like about KCPR and how KCPR gets you groovin'.</p>

   <h4>Fill Out the Application</h4>
   <p><a target="_blank" href="/assets/docs/application.pdf">Download the application here</a> or there are usually applications outside the kcpr station. Exciting applications are a big factor of our decision to invite you to the next step! Make your application stand out by pumping it full of your personality.</p>

   <h4>Turn In the Application</h4>
   <p>Turn in the application before the 3rd week of the Cal Poly quarter. Check the Cal Poly academic schedule <a href="http://registrar.calpoly.edu/">here.</a> We prefer a hard copy which you can drop off at KCPR in building 26. Questions? Email the <a href="mailto:kcpr91.3asi@gmail.com">Air Staff Instructors.</a></p>

   <h4>The Trainee</h4>
   <p>Your first quarter with KCPR requires that you participate in the weekly class on Wednesdays at 6 pm. You are also required to put in some time with current DJs to learn the ropes.</p>
</div>
