<div class="text-content">
   <h4>before you apply</h4>
   <p>Listen to KCPR! Get a feel for what you like about KCPR and how KCPR gets you groovin'.</p>

   <h4>fill out the application</h4>
   <p><a target="_blank" href="http://kcpr.org/docs/KCPRapplication.PDF">Download the application here</a> or there are usually applications outside the kcpr station.</p>

   <p>Exciting applications are more fun than boring ones! Make your application stand out by pumping it full of your personality</p>

   <h4>turn in the application</h4>
   <p>Turn in the application during or before the 3rd week fo the Cal Poly quarter. Check the Cal Poly academic schedule <a href="http://registrar.calpoly.edu/">here.</a></p>

   <h4>the trainee</h4>
   <p>Your first quarter with KCPR requires that you participate in the weekly class on Wednesdays at 6 pm. You are also required to put in some time with current DJs to learn the ropes.</p>
</div>
