<div class="text-content">
   <p>We broadcast at <b>91.3 MHz FM</b> from San Luis Obispo, California. Our tower runs 310 watts and covers a 50 mile radius.</p>

   <p>These work with iTunes, Foobar2000, WinAmp, VLC and possibly whatever other media player you use. The stream at the top of our website is the low quality MP3 stream.</p>
   <ul>
      <li> <a href="http://129.65.35.106:8000/KCPRHIGH.m3u">128kbps AAC+ (best quality)</a></li>
      <li> <a href="http://129.65.35.106:8000/KCPRLOW.m3u">32kbps AAC+ (if your connection isn't fast)</a></li>
      <li> <a href="http://129.65.35.106:8000/KCPRMP3.m3u">56kbps MP3 (if the AAC files don't work, try the MP3)</a></li>
   </ul>

   <p>If copy-pasting is more your style, here are some links to the streams (paste these into your media player's "Open Location" prompt).</p>

   <ul>
   <li> <a href="http://129.65.35.106:8000/KCPRHIGH">http://129.65.35.106:8000/KCPRHIGH</a></li>
   <li> <a href="http://129.65.35.106:8000/KCPRLOW">http://129.65.35.106:8000/KCPRLOW</a></li>
   <li> <a href="http://129.65.35.106:8000/KCPRMP3">http://129.65.35.106:8000/KCPRMP3</a></li>
   </ul>
</div>
