<div class="text-content">

   <div class="important-news">Sign up for KCPR OPEN MIC <a href="https://docs.google.com/forms/d/1NinExDr1R5kfuwcdce0ABa9IQ-xADWNOj4rqnMES0Fw/viewform">HERE</a>.</div>

   <a class="twitter-timeline" href="https://twitter.com/KCPR913" data-widget-id="404021091296743424" data-chrome="nofooter transparent noborders noscrollbar transparent noheader" data-tweet-limit="10" data-show-replies="false" aria-polite="assertive" width="500" height="500"></a>

   <script type="text/javascript-lazy" src="//platform.twitter.com/widgets.js"></script>
</div>
