<p>You can write us at (we luv fanmail): </p>
<address><p>(DJ or executive title)<br/><b>KCPR</b><br/>Building 26, Room 301<br/> California Polytechnic State Univ. <br/> 1 Grand Avenue <br/> San Luis Obispo, CA 93407</p></address>

<p><b>KCPR on-air request line:</b> (805) 756-5277</p>

<ul id="contacts">
   <li>
      <span class="title">General Managers</span>
      <span class="names">Tyler Deitz and Jorge Gonzalez</span>
      <span class="desc">god who knows what</span>
      <span class="email">generalmanagers.kcpr@gmail.com</span>
   </li>
   <li>
      <span class="title">Music Directors</span>
      <span class="names">Nick Cocores and Bobak Behesti</span>
      <span class="desc">god who knows what</span>
      <span class="email">kcpr@calpoly.edu</span>
   </li>
   <li>
      <span class="title">Business Directors</span>
      <span class="names">Roxanne Hoffman and Joe Durantini</span>
      <span class="desc">god who knows what</span>
      <span class="email">913kcprbusiness@gmail.com</span>
   </li>
   <li>
      <span class="title">Promotion Directors</span>
      <span class="names">Haley Brown, Bethany Benson, and Biba Pickles</span>
      <span class="desc">god who knows what</span>
      <span class="email">kcprpromotion@gmail.com</span>
   </li>
   <li>
      <span class="title">Program Directors</span>
      <span class="names">Kelly Stewart</span>
      <span class="desc">god who knows what</span>
      <span class="email">programdirector.kcpr@gmail.com</span>
   </li>
   <li>
      <span class="title">Events Directors</span>
      <span class="names">Parker Glenn and Matt Osterholt</span>
      <span class="desc">god who knows what</span>
      <span class="email">events.kcpr@gmail.com</span>
   </li>
   <li>
      <span class="title">Traffic Directors</span>
      <span class="names">Connor Griffith</span>
      <span class="desc">god who knows what</span>
      <span class="email">traffic.kcpr@gmail.com</span>
   </li>
   <li>
      <span class="title">Air Staff Instructors</span>
      <span class="names">Logan Cooper and Lauren Vukicevich</span>
      <span class="desc">god who knows what</span>
      <span class="email">kcpr91.3asi@gmail.com</span>
   </li>
   <li>
      <span class="title">Webmaster</span>
      <span class="names">Eric Buckthal</span>
      <span class="desc">god who knows what</span>
      <span class="email">kcpr.internet@gmail.com</span>
   </li>
   <li>
      <span class="title">Faculty Advisor</span>
      <span class="names">Richard Gearhart</span>
      <span class="desc">god who knows what</span>
   </li>
</ul>
