
<img class="pledge-centered" src="/assets/img/KCPR-Pledge-logo.svg" />

   <div class="pledge-centered" style="width: 560px;">
      <iframe width="560" height="315" src="//www.youtube.com/embed/PQ8G4C_PaMw" frameborder="0" allowfullscreen></iframe>
   </div>
<div class="text-content">

   <table class="pledge">
      <tr>
         <th colspan="3">
            KCPR PLEDGE WEEK EVENTS
         </th>
      </tr>
      <tr>
         <td style="width:15%;">April 17</td>
         <td>Pledge drive kick-off at farmer's market</td>
         <td>Downtown SLO! Come say "hi!"</td>
      </tr>
      <tr>
         <td>April 17</td>
         <td>KCPR Presents: Open Mic Night @ the PAC</td>
         <td>Doors at 7:30, show at 8:00pm</td>
      </tr>
      <tr>
         <td>April 19</td>
         <td>KCPR Presents: Club 91 Disco @ The PAC</td>
         <td>A benefit for KCPR featuring DJ Parker, Mr. Resistor, BVCK. Doors at 8, $5 donation</td>
      </tr>
      <tr>
         <td>April 20</td>
         <td>KCPR Record Store Day @ Boo Boo Records</td>
         <td>9am - 1pm in downtown SLO!</td>
      </tr>
      <tr>
         <td>April 21 - April 25</td>
         <td>KCPR on Dexter Lawn, Cal Poly Campus</td>
         <td>10am - 2pm. Vinyl spin art, ticket giveaways, Live DJing, more!</td>
      </tr>
      <tr>
         <td>April 24</td>
         <td>KCPR Movie Night @ the Palm</td>
         <td>Wayne's World, $10 suggested donation, 9:15 pm in downtown SLO!</td>
      </tr>
      <tr>
         <td>April 25</td>
         <td>BYOV: Bring your own vinyl</td>
         <td>4pm - 7pm. Bring your favorite vinyl to the station and we'll spin in live! bldg 26, room 301</td>
      </tr>
   </table>

<table class="pledge">
   <tr>
      <th colspan="3">
         Donate to KCPR and get a prize!<br>(although, the biggest prize is the smile on your face)
      </th>
   </tr>
   <tr>
      <td style="width: 15%;">$2</td>
      <td>KCPR-flavored button</td>
      <td>a button</td>
   </tr>
   <tr>
      <td>$25</td>
      <td>KCPR-esque mix CD</td>
      <td>cooler than a KCPR spotify playlist or iTunes gift card</td>
   </tr>
   <tr>
      <td>$50</td>
      <td>KCPR SUPER PAK</tD>
      <td>mix CD, sticker, button, show dedication with whatever songs you want (keep the FCC happy), plus a love note and a special edition pledge ZINE</td>
   </tr>
   <tr>
      <td>$100</td>
      <td>KCPR SUPER-ULTRA PACK</td>
      <td>4 mix CDs catered to each season for the next year, show dedication with whatever songs you want, love note, t-shirt, button, pledge zine, included in thank you video</td>
   </tr>
   <tr>
      <td>$250</td>
      <td>KCPR PLEDGE DRIVE GOLD EDITION DONATOR</td>
      <td>SUPER-ULTRA PAK + an extra show dedication</td>
   </tr>
   <tr>
      <td>$500</td>
      <td>KCPR PLEDGE DRIVE PLATINUM EDITION DONATOR</td>
      <td>GOLD EDITION REWARDS + you get to come in to KCPR and run a show of your own (with KCPR DJ help, of course)</td>
   </tr>
</table>

mix CD* digital, non-personal, 30 songs? 1 of 3 options (top currents of the year; special format variety; mix), excludes the multiple mixes special packages get


   <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
   <input type="hidden" name="cmd" value="_cart">
   <input type="hidden" name="business" value="tbourne@calpoly.edu">
   <input type="hidden" name="lc" value="US">
   <input type="hidden" name="item_name" value="Donation">
   <input type="hidden" name="button_subtype" value="products">
   <input type="hidden" name="no_note" value="0">
   <input type="hidden" name="currency_code" value="USD">
   <input type="hidden" name="add" value="1">
   <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
   <input type="hidden" name="on0" value="Donations">
   <select class="pledge-centered" name="os0">
      <option value="KCPR button">KCPR button $2.00 USD</option>
      <option value="KCPR mix CD">KCPR mix CD $25.00 USD</option>
      <option value="KCPR super pak">KCPR super pak $50.00 USD</option>
      <option value="KCPR super-ultra pak">KCPR super-ultra pak $100.00 USD</option>
      <option value="KCPR gold edition">KCPR gold edition $200.00 USD</option>
      <option value="KCPR platinum edition">KCPR platinum edition $500.00 USD</option>
   </select> 
   <input type="hidden" name="currency_code" value="USD">
   <input type="hidden" name="option_select0" value="KCPR button">
   <input type="hidden" name="option_amount0" value="2.00">
   <input type="hidden" name="option_select1" value="KCPR mix CD">
   <input type="hidden" name="option_amount1" value="25.00">
   <input type="hidden" name="option_select2" value="KCPR super pak">
   <input type="hidden" name="option_amount2" value="50.00">
   <input type="hidden" name="option_select3" value="KCPR super-ultra pak">
   <input type="hidden" name="option_amount3" value="100.00">
   <input type="hidden" name="option_select4" value="KCPR gold edition">
   <input type="hidden" name="option_amount4" value="200.00">
   <input type="hidden" name="option_select5" value="KCPR platinum edition">
   <input type="hidden" name="option_amount5" value="500.00">
   <input type="hidden" name="option_index" value="0"j>
   <input class="pledge-centered" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
   <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
   </form>


</div>

