
.blue
{
   background-color: blue;
}
body
{
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   color: #666666;
}
.normaltext
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   color: #666666;
}

.grey
{
   color: #999999;
}

.small
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 9px;
}

.center
{
   margin-left: auto;
   margin-right: auto;
}

.top
{
   vertical-align: top;
}

.fullheight
{
   height: 100%;
}

hr
{
   text-align: center;
}

table 
{
   table-layout: auto;
}

a:link
{
   color: #6600FF;
   text-decoration: none;
}

a:visited
{
   color: #9900FF;
   text-decoration: none;
}

a:hover
{
   text-decoration: underline;
}

.normaltext a.hidden {
   text-decoration: none;
   color: #666666;
}

.grey a.hidden {
   text-decoration: none;
   color: #999999;
}

a.hidden:hover {
   color: #009933;
   text-decoration: underline;
}

/*index*/
#indextop
{
   border-collapse: collapse;
   width: 100%
}

#indextop1
{
   text-align: right;
   vertical-align: bottom;
   background-image:url("/images/indextop1.gif");
   background-repeat: no-repeat;
   height: 26px;
}
#indextop2
{
   text-align: right;
   vertical-align: bottom;
   background-image:url("/images/indextop2.gif");
   background-repeat: no-repeat;
   height: 132px;
}

/*sidebar*/
#posts
{
   width: 468px;
}

#sidebar
{
   width: 132px;
   vertical-align: top;
   border-collapse: collapse;
   height: 100%;
}

#menulisten
{
   background-image:url("/images/listen.gif");
   height: 29px;
   width: 132px;
   padding: 0;
   margin: 0;
}

#menulisten a
{
   height: 100%;
   width: 100%;
   display: block;
}
#menu
{
   background-image:url("/images/menubg.gif");
   background-repeat: repeat;
   vertical-align: top;

}

#menu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   margin-left: 1em;
}

#menu li.break
{
   margin-top: 1em;
}

#menu a
{
color: #BBBBBB;
}

/*drawListenHeader*/
#listenheading 
{
   text-align: left;
}

#listenheading p
{
   margin-bottom: 0;    
   padding-bottom: 0;
   display: block;
}

#listenheading a
{
   font-weight: bold;
}

/*drawTopTen*/
#topten
{
   border-style: double;
   border-color: #888888;
   width: 99%;
   text-align: center;
}

#topten td
{
   vertical-align: middle;
}

/*drawMusicBanner*/
.musicbanner
{
   width: 100%;
}

.music
{
   background-image:url(/images/bigmusicbanner.gif);
   background-repeat: no-repeat;
   height: 117px;
   text-align: right;
   font-weight: bold;
   vertical-align: middle;
}

.music ul
{
   list-style: none;
   margin: 0;
   padding: 0 .2em;
   line-height: 1.2em;
   vertical-align: middle;
}

.music a:link
{
   color: #555555;
   text-decoration: none; 
}

.music a:visited
{
   color: #666666;
   text-decoration: none;
}

.music a:hover
{
   text-decoration: underline;
}

#musiclisten
{
   background-image:url(/images/listenvert.gif);
   width: 26px;
   background-repeat: no-repeat;
}

#musiclisten a
{
   display: block;
   width: 100%;
   height: 100%;
}

/*drawCharts*/
.charts
{
   font-size: 12px;

}

.charts th
{
   text-align: left;
}

.charts td
{
   vertical-align: top;
   width: 20em;
}

.charts ol
{
   line-height: 1.2em;
   margin: 0;
   padding: 0;
   margin-left: 2.4em;
   margin-right: 2em;
   list-style-position: outside;
}

.charts ul
{
   line-height: 1.2em;
   list-style: none;
   margin: 0;
   padding: 0;

}


/*drawArchvies*/
.archives th
{
   text-align: left;   
   background-color: #444444;
   color: #FFCCFF;
   font-size: 12px;
   line-height: 1.4em;

}

.archives td 
{
   vertical-align: top;
}

.archives ul
{
   list-style: none;
   padding: .25em 2.5em;
   margin: 0;
   line-height: 1.2em;
}

.archives a
{
   font-size: 13px;
}

.archives a:link
{
   color: #666666;
}

.archives a:hover
{
   color: #6600FF;
}

/*printCopyright*/
.copyright
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 9px; color: #999999;
   float: right;
}

